.chat {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 47, 63);
    height: 100vh;
    flex: 0.95;
    flex-grow: 1;
    .chatMessage {
        height: 100vh;
        overflow-y: scroll;
    }

    .chatInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        margin: 20px;
        padding: 15px;
        border-radius: 5px;

        form {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                padding: 15px;
                background-color: transparent;
                border: none;
                outline: none;
            }
            .chatInputbutton {
                display: none;
            }
        }

        .rightIcon {
            span {
                margin: 8px;
                cursor: pointer;
            }
        }
    }
}