.message {
    display: flex;
    align-items: center;
    color: white;
    .icon {
        margin: 30px;
    }
    .chatMessage {
        flex-grow: 1;
    }

    .messageInfo {
        // display: flex;
        .messageTimestamp {
            margin: 10px;
        }
    }
}